.container.about{
    padding-top: 77px;
    padding-bottom: 54px;
}

.container.about .cover-photo{
    display: block;
    width: 50vw;
    float: left;
}


.container.about .cover-photo img{
    width: 100%;
    height: auto;
    border-radius: 0 15px 15px 0;
}

.container.about .about-info{
    display: block;
    float: left;
    width: 50vw;
    padding-left: 85px;
    padding-right: 85px;
    box-sizing: border-box;
}

.container.about .about-info h1{
    font-family: Playfair Display SC;
    font-size: 48px;
    font-weight: bold;
    margin-top: 60px;
    line-height: 64px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.container.about .about-info .description{
    font-family: Volkhov;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 1px;
    margin-bottom: 48px;
}

.container.about .about-info a.join-us-button{
    background-color: var(--brown);
    color: var(--milk);
    font-family: Petrona;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
}

.container.about .icons-sun-about{
    align-items: center;
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
    width: 100vw;
}

.container.about .icons-sun-about > * {
    margin: 25px;
    width: 45px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .container.about .about-info h1{
        margin-top: 0;
    }

    .container.about .about-info .description, .container.about .about-info a.join-us-button{
        font-size: 18px;
    }
}

@media (max-width: 991.98px) {

    .container.about{
        padding-top: 27px;
    }

    .container.about .about-info h1{
        margin-top: 17px;
    }
    
    .container.about .cover-photo{
        float: none;
        width: 100vw;
    }

    .container.about .cover-photo img{
        border-radius: 0;
    }

    .container.about .about-info{
        padding-left: 25px;
        padding-right: 25px;
        width: 100vw;
        float: none;
    }

    .container.about .about-info a.join-us-button{
        font-size: 16px;
    }
    .container.about .about-info .description{
        font-size: 16px;
        box-sizing: border-box;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 34px;
    }

    .container.about .about-info h1{
        font-size: 32px;
        line-height: 40px;
    }

    .container.about .icons-sun-about{
        display: flex;
    }
}