.filters{
    align-items: baseline;
    display: flex;
    border-bottom: 2px solid var(--black);
    padding: 56px 0 18px 139px;
    overflow-x: scroll;
}

.filters > * {
    min-width: 70px;
}

.filters h2{
 display: none;
 margin-right: 48px;
 margin-top: 0;
 margin-bottom: 0;
 font-family: 'Volkhov';
 font-weight: bold;
 font-size: 24px;
 line-height: 31px;
}

.filters span{
    background-color: var(--milk);
    border-radius: 15px;
    border: 2px var(--black) solid;
    color: var(--black);
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    height: 27px;
    line-height: 25px;
    margin-right: 20px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 151px;
    padding-bottom: 10px;
}

.filters span:hover{
    cursor: pointer;
}

.filters span.activated, .filters span:hover{
    background-color: var(--black);
    color: var(--milk);
}

.container.list-coffee-shop{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5px;
    padding-right: 0.5px;
    padding-top: 47px;
    max-width: 1180px;
}

.list-coffee-shop{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}

.list-coffee-shop .coffee-card{
    background-image: url(https://s3-alpha-sig.figma.com/img/9ca7/528e/8b3dbdd9fd82f2b932b3b32248ce06d7?Expires=1668988800&Signature=cPUOj5Y52UUZbp8iteys~OJbBkDfFMvhJmWjYFIm7WVjCzVS1CotNYwe3G01LtlDqx99Lb~eU11C0Ia6R5aQGr35h1P~dajqXWdLupo7fxOf7gv-HZY47oNxZp91llBw88drhhvlPjUcO~fpfFC7W-ed4v-i6qiTVUzlgq~ti-AAzswHXRv95VBGY2b0qdJzykRyTSzK5AM0GI5CKaSW8QGDhy0013Fq5f1yG3jbLxoKaMXWET1Z3avB4MqYO2fFt3xAb188j2ot9QYuetT57ePar4SxT1eiJ-2OHhA2a3PdR9xQ-DHGPScHWhv-ZhNtZ~RdOvndsf4~B3QA1KZOCw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA);
    width: 337px;
    height: 436px;
    border-radius: 15px;
    background-size: cover;
    font-family: Petrona;
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-right: 36px;
    margin-bottom: 36px;
}


.list-coffee-shop .coffee-card .rating{
    background-color: var(--milk);
    border-radius: 15px;
    color: var(--black);
    padding: 8px 16px;
    width: 49.33px;
    display: flex;
    justify-content: space-between;
}


.list-coffee-shop .coffee-card .rating img{
    width: 15px;
    height: 15px;
    margin-right: 14.85px;
}

.list-coffee-shop .coffee-card .rating span{
    font-family: Petrona;
    font-size: 15px;
    font-weight: bold;
    line-height: 17px;
}

.list-coffee-shop .coffee-card .info{
    box-sizing: border-box;
    margin: 0 auto;
    width: 90%;
}

.list-coffee-shop .coffee-card .info .distance{
    background-color: var(--milk);
    border-radius: 15px;
    color: var(--black);
    left: 18px;
    position: relative;
    top: 10px;
    padding: 4px 15px 8px 15px;
    width: 68.27px;
}

.list-coffee-shop .coffee-card .info .distance img{
    width: 8px;
    height: 16.7px;
    margin-right: 14.85px;
}

.list-coffee-shop .coffee-card .info .title{
    background-color: var(--milk);
    border-radius: 15px;
    color: var(--black);
    padding: 16px;
}
.list-coffee-shop .coffee-card .info .title h2{
    display: inline-block;
    font-family: 'Playfair Display SC';
    font-size: 20px;
    font-weight: bold;
    line-height: 27px;
    letter-spacing: 0px;
    margin: 0 0 12px 0;
    text-transform: uppercase;
}

.list-coffee-shop .coffee-card .info .title .features{
    display: block;
    float: right;
}

.list-coffee-shop .coffee-card .info .title .features img{
    width: 19.46px;
    height: 19.46px;
}

.list-coffee-shop .coffee-card .info .title .schedule .close{
    color:var(--brown)
}
.list-coffee-shop .coffee-card .info .title .schedule .open{
    color:var(--black)
}

@media (max-width: 575.98px) {
    
    .filters{
        padding: 56px 0 18px 40px;
    }

    .list-coffee-shop .coffee-card{
        min-width: 258px;
        width: 337px;
        height: 436px;
        margin-right: 0;
    }

    .container.list-coffee-shop{
        max-width: 337px;
    }
}   
    
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    
    .list-coffee-shop .coffee-card{
        width: 219px;
        height: 283.34px;
        margin-right: 15px;
        margin-bottom: 20px;
    }
    .container.list-coffee-shop{
        max-width: 510px;
    }

}

 /* Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) {
    .list-coffee-shop .coffee-card{
        width: 219px;
        height: 283.34px;
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .container.list-coffee-shop{
        max-width: 764px;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container.list-coffee-shop{
        max-width: 786px;
    }
}

@media (min-width: 992px){
    .filters h2{
        display: block;
    }
}

@media (min-width: 576px) and (max-width: 1399.98px) {
    .filters{
        padding: 56px 0 18px 70px;
    }
}


 /* XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) {
    .list-coffee-shop .coffee-card{
        margin-right: 53px;
        margin-bottom: 36px;
    }

    .list-coffee-shop .coffee-card:nth-child(3n){
        margin-right: 0;
    }
 }