:root {
    --brown: #C05541;
    --white: #ffffff;
    --milk: #FFFAF5;
    --black: #2F2D2C;
    --gray: #807069;
}

body{
    margin: 0;
    background-color: var(--milk);
    overflow-x: hidden;
}

.header{
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 139px;
    background-color: var(--brown);
}

.header .logo img{
    width: 76px;
}

.header .logo {
    display: block;
    margin: 0 auto;
    width: 76px;
}

.header a{
    color: var(--white);
}

.header .burguer-menu{
    display: none;
    cursor: pointer;
}

.header .navbar{
    display: flex;
    justify-content: space-around;
    align-items:baseline;
}

.header .navbar li{
    list-style: none;
    margin-left: 91px;
    cursor: pointer;
}

.header .navbar li:last-child{
    border: 1px solid var(--white);
    border-radius: 10px;
    padding: 10px 30px;
}


.header .navbar li a{
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
}


.mobile-menu{
    background-color: var(--milk);
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.mobile-menu .leaves-corner{
    position:absolute;
    top: 0;
    left: 0;
}

.mobile-menu .closing-button{
    position: absolute;
    top: 16px;
    right: 16px;
}

.mobile-menu .navbar li {
    list-style-type: none;
    margin-bottom: 52px;
}

.mobile-menu .navbar li a{
    font-family: Playfair Display SC;
    font-size: 32px;
    font-weight: bold;
    line-height: 43px;
    
    text-transform: uppercase;
    color: var(--gray);
    text-decoration: none;
}


@media (min-width: 768px){
    .header .logo img{
        width: 144px;
    }
    .header .logo{
        margin: 0;
        width: 144px;
    }
}

@media (max-width: 767.98px){
    .header{
        height: 81px;
        padding: 2px 30px;
        box-sizing: border-box;
    }
}

@media (max-width: 991.98px){

    .header .burguer-menu{
        display: block;
    }

    .header .navbar{
        display: none;
    }
    
}

@media (min-width: 768px) and (max-width: 1399.98px) {
    .header{
        padding: 30px 70px;
    } 
}